
footer{
    background-color: tomato;
display: flex;

justify-content:space-between;
align-items: center;
padding: 20px;
/* border-left: solid black 3px ;
border-right: solid black 3px; */

outline:solid tomato 5px ;
margin-top: 10px;

height:fit-content;
gap: 10px;
}
.contact{

    list-style: none;
    padding-inline-start: 0px;
display: flex;
gap: 10px;
flex-direction: column;
padding: 0px 10px;
width: 200px;

}
.contact li{

    width: fit-content;
 
padding-inline-start: 0px;
text-align: start;

color:white;
font-size: max(1.3vw,1rem);
cursor: pointer;
display: flex;
justify-content:start;
gap: 10px;
align-items: center;
padding: 2px 3px;
font-weight: 500;
}

.contact li:nth-child(1){
    font-weight: 500;
    color: white;
    border-bottom: solid black 2px;
    text-align: center;
padding-bottom: 5px;
}
.contact li #icon{
    color:white;
    font-size: 1.5rem;
background-color: rgb(7, 7, 7);
padding: 3px;
border-radius: 10px;
background-color:#ffffff;
color: black;
transition: 0.1s;
}

 .contact li  #icon:hover{
    color:white;
  
background-color: rgb(7, 7, 7);
}

.footer-img{
    max-width:200px;
width:150px;
    background-color: white;
    border-radius: 10px;
    border: solid 3px black;
outline: solid 5px white;
text-align: center;

}
.footer-img img{
    max-width: 100%;

}
.footer-img p{
    margin: 0px;
    padding-bottom: 4px;
}
.app{
    
    display: flex;
    flex-direction:column;
gap: 20px;
justify-content: center;
align-items: center;
}
.app img{
    max-width:70%;
min-width:50px;
    cursor: pointer;
}
.app img:hover{
    transform: scale(110%);
}


@media screen and (max-width:690px) {
 
    footer{
        flex-direction: column;
    }
.app{
    flex-direction: row;
}

}