:root{

    --medium:clamp(0.6rem ,4vw - 5rem, 2rem)
--large:clamp(1rem, 10vw , 2rem);

--fs-xl: clamp(1rem, 10vw - 2.5rem , 3rem);
--fs-para: clamp(0.5rem, 10vw, 2rem);
}

.header{

    height: 34vw;
    margin: 30px auto;
    background:url("/public/header_img.png") no-repeat ;
    background-size: contain;
    position: relative;


}

.header-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: start;
    max-width: 60%;
    min-width:240px;
 
    bottom: 10%;
    left:6vw;  

      animation: fadein 3s;
    }


    @media screen and (max-width:450px) {
        .header{

        
    }
    }
@keyframes fadein {
    
    0%{
opacity: 0;
    }
    100%{
opacity: 1;
    }
}
.header-content .h2{
 
    font-weight:500 ;
    width: 100%; 
    font-size:clamp(1rem, 10vw - 2.5rem , 3rem);
 
    color:white;
}
.header-content p{
    color: white;
    font-size:clamp(0.6rem ,4vw - 5rem, 2rem);
width: 100%;

}

